# Virtual environment
venv/
env/
__pycache__/
*.pyc

# Dataset 
dataset/images/
dataset/labels/
dataset/*.cache
dataset/data.yaml

# Hasil training 
runs/

# Debug screenshot dari detect.py
debug_*.jpg

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
